<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/index.css">
    <title>Perfil del usuario</title>
</head>
<body>
    <div id="divPadre">
        <div id="infoGeneral">
            <h3>
                INFORMACIÓN VISIBLE
            </h3>
            <img src="../statics/media/images/avatar.png" alt="avatar" width="100">
            <div id="perfilNombre">
                Nombre
            </div>
            <div id="nCuenta">
                Número de cuenta
                <!-- Esto va en la parte del perfil maestro, solo hay que sustituir -->
                <!-- <button id="horarios">
                    Horarios
                </button> -->
            </div>
            <div id="grupo">
                Grupo
                <!-- Esto va en la parte del perfil maestro, solo hay que sustituir -->
            <!-- <button id="grupos">
                Grupos
            </button> -->
            </div>
            <div id="seccion">
                Sección
                <!-- Esto va en la parte del perfil maestro, solo hay que sustituir -->
            <!-- <button id="materias">
                Materias
            </button> -->
            </div>
            <div id="correoElectronico">
                Correo electrónico institucional
            </div>
            <div id="cambiarInfo">
                <a href="../templates/perfilUsuario.html">
                    <strong>
                       Cambiar información 
                    </strong>
                </a>
            </div>
        </div>
        <div id="infoCompleta">
            <div id="navBar">
                <img src="../statics/media/images/Logo Coyoaulas.png" alt="logo" width="50">
            </div>
            <img src="../statics/media/images/avatar.png" alt="avatar" width="70">
            <div>
                <button id="cambiarFoto">
                    <strong>
                      Agregar o cambiar foto  
                    </strong>
                </button> 
            </div>
            <div id="perfilNombre2">
                Nombre
            </div>
            <div id="correoElectronico2">
                Correo electrónico
            </div>
            <div id="correoElectronicoRecup">
                Correo electrónico de recuperación
            </div>
            <div id="nCuenta2">
                Número de cuenta//desactivado
                <!-- RFC -->
            </div>
            <div>
                <div id="grupo2">
                    Grupo//desactivado
                    <!-- Número de trabajador -->
                </div>
                <div id="seccion2">
                    Sección//desactivado
                    <!-- Número telefónico -->
                </div>
            </div>
            <div id="telefono">
                Número telefónico
            </div>
            <div>
                <button id="guardar">
                    <strong>
                        Guardar cambios
                    </strong>
                </button> 
            </div>
        </div>
    </div>
</body>
</html>